name: Build and run all tests

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: ["main"]

jobs:
  test:
    name: Test ${{ matrix.test }}
    strategy:
      fail-fast: false
      matrix:
        test:
          - bidirectional
          - stress
          - large
          - signed-unsigned
        encoding:
          - msgpack
          - json
    uses: ./.github/workflows/test_single.yml
    with:
      test: ${{ matrix.test }}
      encoding: ${{ matrix.encoding }}
